body {
    font-family: verdana;
    font-size: 11pt;
    background: transparent no-repeat top center;
}

@media (min-width: 600px) {
    body {
        background-image: url("../css/images/bg-1.png");
    }
    .main-container {
        padding-top: 1px;
        margin-top: 0;
        background: rgba(255, 255, 255, 0.85);
    }
    .sidebar ul {
        background: #fff;
    }
    .pageTitle {
        height: 50px;
        margin-bottom: 15px;
    }
    .pageTitle h2 {
        padding: 0 10px;
        line-height: 50px;
        font-size: 17pt;
        font-family: Impact;
        text-transform: uppercase;
        vertical-align: middle;
        margin: 0;
        border-bottom:1px solid #ddd;
    }
}

/* Nav edit */
.navbar {
    height: 80px;
    margin-bottom: 0px;
    background-color: #fff;
}
.navbar-brand {
    padding: 9px 10px 10px;
    background: transparent url("../css/images/logo.png") no-repeat 0px 9px;
    width: 228px;
    height: 81px;
}

.navbar-collapse.in {
    background-color: #fff;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 15px;
}

ul.nav.nav-pills.nav-stacked {
    border-radius: 4px;
    border: 1px solid #DDD;
    overflow: hidden;
}

.nav-pills>li>a {
    border-radius:0;
}

/* Nav buttons */
.cart-btn, .wishlist-btn {
    display: block;
    border-radius:6px;
    margin: 7px 10px;
    width: 35px;
    height: 35px;
}
.cart-btn {
    background: transparent url("../css/images/cart.png") no-repeat center;
    border-bottom:1px solid #6a6a6a;
    border-right:1px solid #6a6a6a;/* darker orange: #E58300; */
}
.cart-btn:hover {
    background: transparent url("../css/images/cart-hover.png") no-repeat center;
}
.wishlist-btn {
    background: transparent url("../css/images/wishlist.png") no-repeat center;
    border-bottom:1px solid #6a6a6a;
    border-right:1px solid #6a6a6a; /*darker red: #C70000;*/
}
.wishlist-btn:hover {
    background: transparent url("../css/images/wishlist-hover.png") no-repeat center;
}
.search-btn {
    height: 34px;
    margin-top: 1px;
}

/* Userpage */
.user-info-block span {
    color: #6a6a6a;
    font-weight: bold;
}
.user-info-block h4 {
    padding: 5px 5px;
}

/* Shopping cart */
.checkout-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkout-wrapper .checkout-info {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}

.checkout-btn:hover {
    text-decoration: none!important;
}

.customer {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
}

.checkout-info {
    font-size: 12px;
    color: #808080;
}

.checkout-left {
    border-right: 1px solid #f7f7f7;
}

/* products */
.product {
    padding: 10px;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.product:first-of-type {
    margin-top: 0;
}
.product .title {
    font-weight: bold;
}
.product.img {
    height: 200px;
    width: 200px;
}
.product img {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}
.product .small-img{
    height: 100%;
    width: 100%;
    max-height: 75px !important;
    max-width: 75px !important;
}
.product .medium-img{
    height: 100%;
    width: 100%;
    max-height: 125px !important;
    max-width: 125px !important;
}

.amount{
    width: 35px;
    height: 30px;
    margin: 0 10px;
    text-align: center;
}

.empty-cart-big {
    height: 500px;
    width: 100%;
    background: transparent url("../css/images/shoppingcart-big.png") center no-repeat;
}

.history-item:hover{
    cursor: pointer;
    color: #23527c;
}

/* Prevent spinners on input type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.no-left-margin{
    margin-left: 0px;
}

.buy-button{
    margin-top: 15px;
    width: 125px;
}
.button-margin-top{
    margin-top: 45px;
}
span.tag {
    width: 10em;
}
.indent {
    padding-left: 1.8em
}

.pay-method-wrapper{
    float: left;
    margin-right: 20px;
}
.pay-method-img{
    height: 70px;
}
/* adminpanel table css fix */
.react-bs-table {
     height: auto !important;
    }